<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shaurma #1</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>Design your shaurma!</h1>
<img th:src="@{/static/images/Shaurma#1}" width="300" height="300" alt="Shaurma"/>


<form method="POST" th:object="${shaurma}">
    <div class="grid">
        <div class="ingredient-group" id="pita">
        <h3>Designate your pita:</h3>
        <div th:each="ingredient : ${pita}">
            <input th:field="*{ingredients}" type="checkbox"
            th:value="${ingredient.id}"/>
            <span th:text="${ingredient.name}">INGREDIENT</span><br/>
        </div>
    </div>

        <div class="ingredient-group" id="veggies">
            <h3>Select vegetables:</h3>
            <div th:each="ingredient : ${veggies}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="meat">
            <h3>Select the type of meat:</h3>
            <div th:each="ingredient : ${meat}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="sauce">
            <h3>Choose sauce:</h3>
            <div th:each="ingredient : ${sauce}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div>

        <h3>Name your shaurma creation:</h3>
        <input type="text" th:field="*{name}"/>
        <br/>
        <button>Submit Your Shaurma</button>
    </div>

</form>
</body>
</html>