<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Shaurma #1</title>
</head>
<body>
<h1>Login</h1>
<img th:src="@{/images/Shaurma#1.png}">

<div th:if="${error}">
    Unable to login. Check your username and password.
</div>

<p>New here? Click
    <a th:href="@{/register}">here</a>to register.</p>

<form method="POST" th:action="@{/login}" id="loginForm">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username"/><br/>


    <label for="password">Password: </label>
    <input type="text" name="password" id="password"/><br/>

    <input type="submit" value="Login">
</form>
</body>
</html>