<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shaurma #1</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

<form method="POST" th:action="@{/orders}" th:object="${shaurmaOrder}">
    <h1>Order your shaurma creations!</h1>

    <img th:src="@{/static/images/Shaurma#1}" width="300" height="300" alt="Shaurma"/>
    <a th:href="@{/design}" id="another">Design another shaurma</a><br/>

    <h3>Deliver my shaurma to...</h3>
    <label for="deliveryName">Name: </label>
    <input type="text" th:field="*{deliveryName}"/>
    <div style="color: red"
          th:if="${#fields.hasErrors('deliveryName')}"
          th:errors="*{deliveryName}">Delivery name Error</div>
    <br/>

    <label for="deliveryStreet">Street address: </label>
    <input type="text" th:field="*{deliveryStreet}"/>
    <div style="color: red"
         th:if="${#fields.hasErrors('deliveryStreet')}"
         th:errors="*{deliveryStreet}">Street error</div>
    <br/>

    <label for="deliveryCity">City: </label>
    <input type="text" th:field="*{deliveryCity}"/>
    <div style="color: red"
         th:if="${#fields.hasErrors('deliveryCity')}"
         th:errors="*{deliveryCity}">City error</div>
    <br/>

    <label for="deliveryState">State: </label>
    <input type="text" th:field="*{deliveryState}"/>
    <div style="color: red"
         th:if="${#fields.hasErrors('deliveryState')}"
         th:errors="*{deliveryState}">State error</div>
    <br/>
    <br/>

    <label for="deliveryZip">Zip code: </label>
    <input type="text" th:field="*{deliveryZip}"/>
    <div style="color: red"
         th:if="${#fields.hasErrors('deliveryZip')}"
         th:errors="*{deliveryZip}">Zip error</div>
    <br/>

    <h3>Here's how I'll pay...</h3>
    <label for="ccNumber">Credit Card №: </label>
    <input type="text" th:field="*{ccNumber}"/>
    <div style="color: red"
         th:if="${#fields.hasErrors('ccNumber')}"
         th:errors="*{ccNumber}">CC number error</div>
    <br/>

    <label for="ccExpiration">Expiration: </label>
    <input type="text" th:field="*{ccExpiration}"/>
    <div style="color: red"
         th:if="${#fields.hasErrors('ccExpiration')}"
         th:errors="*{ccExpiration}">CC expiration error</div>
    <br/>

    <label for="ccCVV">CVV: </label>
    <input type="text" th:field="*{ccCVV}"/>
    <div style="color: red"
         th:if="${#fields.hasErrors('ccCVV')}"
         th:errors="*{ccCVV}">CC CVV error</div>
    <br/>

    <input type="submit" value="Submit order"/>
</form>
</body>
</html>